:root {
    --background: white;
    --foreground: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--foreground);
    background-color: var(--background);
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    margin: 0 0 1rem;
}

main {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: var(--background);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
}

h1 {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.outer {
    stroke: black;
    fill: none;
    stroke-width: 2;
}

.inner {
    fill: hotpink;
}

svg {
    height: 30px;
    width: 30px;
    /* animation-duration: 3s;
    animation-name: rotate; */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(270deg);
    }
}